body {
    font-family: 'Kanit';
    background-color: #eee;
}

input,button {
    outline: none;
}

hr {
    border-color:#ddd;
}

p {
    font-family: 'Arial';
}

.red {
    color:red;
}

.top-social-menu {
    width:100%;
    float: left;
    clear: both;
    background-color:#2e2d2d;
    color:#fff;
    position: relative;
    z-index: 10;
}

.top-social-menu ul.social-left {
    list-style-type: none;
    padding:0;
    margin:0;
    max-width: 50%;
    float: left;
}

.top-social-menu ul.social-left li {
    display: inline-block;
    padding:5px 5px;
}

.top-social-menu ul.social-right {
    max-width: 50%;
    float: right;
    padding:0;
    margin:0;
}

.top-social-menu ul.social-right li {
    display: inline-block;
    padding-top: 5px;
    position: relative;
    z-index: 100;
}

.top-social-menu ul.social-right li.has-child:hover ul.dropdown{
    display: block;
}

.top-social-menu ul.social-right li a,
.top-social-menu ul.social-right li a:hover,
.top-social-menu ul.social-right li a:focus,
.top-social-menu ul.social-right li a:active {
    color:#eee;
    padding:5px;
    text-decoration: none;
}

.top-social-menu ul.social-right ul.dropdown {
    position: absolute;
    width:200px;
    background-color:rgba(0,0,0,0.8);
    list-style-type: none;
    padding:0;
    margin:0;
    padding:10px;
    left: 0;
    top:30px;
    margin-left: -60px;
    z-index: 20px;
}

ul.dropdown {
    display: none;
}

.top-social-menu ul.social-right ul.dropdown li {
    display: block;
}

.bk-header {
    background-color: #313030;
    color:#fff;
    position: fixed;
    left: 0;
    width: 100%;
}

.header-outer {
    padding:15px 0;
}

.search-box {
    width:100%;
    position: relative;
}

.search-box input {
    width:100%;
    position: relative;
    border:none;
    padding:8px;
    border-radius: 5px;
    color:#333;
    outline: none;
}

.search-box button {
    position: absolute;
    font-size: 20px;
    width:40px;
    right: 0;
    top:0;
    z-index: 2;
    height: 100%;
    border:none;
    background-color: #ff7bb8;
    color:#fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.bk-header-left-center-right .header-left {
    width:22%;
}

..bk-header-left-center-right .header-right {
    width: 13%;
}

.bk-header-left-center-right .header-center {
    width:65%;
}

.right-icon li {
    position: relative;
}

.right-icon li .noti {
    width: 20px;
    height: 20px;
    background-color:red;
    color:#fff;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    right: -5px;
    top: 0;
    border-radius: 100%;
}

.header-bot-menu {
    background-color:#ff7bb8;
    position: relative;
}

.header-bot-menu ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

.header-bot-menu .main-menu li {
    display: inline-block;
}

.header-bot-menu .main-menu li.active {
    transition:0.3s;
    text-decoration: none;
    background-color: #fff;
    color:#ff7bb8;
}

.header-bot-menu .main-menu li.active a {
    color:#ff7bb8;
}

.header-bot-menu .main-menu li a {
    transition:0.3s;
    color:#fff;
    display: block;
    padding:10px 15px;
}

.header-bot-menu .main-menu li a:hover,
.header-bot-menu .main-menu li a:active {
    transition:0.3s;
    text-decoration: none;
    background-color: #fff;
    color:#ff7bb8;
}

.header-bot-menu .main-menu li a:focus {
    text-decoration: none;
}

.hide-menu {
    display: none;
    position: absolute;
    width:100%;
    left: 0;
    background-color: #ff7bb8;
    padding-top: 10px;
    box-shadow: 0px 7px 10px 1px rgba(119, 119, 119, 0.35);
    -moz-box-shadow: 0px 7px 10px 1px rgba(119, 119, 119, 0.35);
    -webkit-box-shadow: 0px 7px 10px 1px rgba(119, 119, 119, 0.35);
}

.hide-menu-tab li {
    transition:0.3s;
    display: inline-block;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    opacity: 0.6;
}

.hide-menu-tab li:hover,
.hide-menu-tab li:active,
.hide-menu-tab li:focus,
.hide-menu-tab li.active {
    transition:0.3s;
    opacity: 1;
}

.hide-menu-tab li a {
    transition:0.3s;
    color:#333;
    font-size: 16px;
    display: block;
    padding:10px 15px;
}

.hide-menu-tab li a:hover ,
.hide-menu-tab li a:active ,
.hide-menu-tab li a:focus  {
    text-decoration: none;
}

.inner-tab {
    background-color: #fff;
    color:#333;
}

.group-menu {
    padding-bottom: 10px;
}

.group-menu h4 {
    font-size: 12px;
}

.group-menu h4 a{
    color:#ff7bb8;
    font-family: 'Arial';
}

.group-menu h4 a:hover,
.group-menu h4 a:active,
.group-menu h4 a:focus {
    text-decoration: none;
}

.group-menu ul {
    padding:0;
}

.group-menu ul li a {
    transition:0.3s;
    color:#888;
    display: block;
    padding:2px 0;
    font-size: 12px;
    font-family: 'Arial';
}

.group-menu ul li a:hover,
.group-menu ul li a:active,
.group-menu ul li a:focus {
    transition:0.3s;
    color:#000;
    text-decoration: none;
}

.hide-menu-close-button {
    font-size: 18px;
    background-color: #fff;
    color:red;
    padding:10px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    bottom:-40px;
    left: 50%;
    width:140px;
    margin-left: -70px;
    box-shadow: 0px 7px 10px 1px rgba(119, 119, 119, 0.35);
    -moz-box-shadow: 0px 7px 10px 1px rgba(119, 119, 119, 0.35);
    -webkit-box-shadow: 0px 7px 10px 1px rgba(119, 119, 119, 0.35);
    cursor: pointer;
}

.cover-tab {
    max-height: 450px;
    overflow: auto;
}

.inner-tab {
    padding-top: 10px;
}

.front-slider .item {
    width: 100%;
    margin-top: 170px;
    height: 450px;
}

.slider-1 {
    background:url('../img/slider-bg.jpg') no-repeat center center;
    background-size: cover;
    color:#fff;
    padding-top: 40px;
}

.slider-2 {
    background:url('../img/slider-bg.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 15px;
}

.text-config {
    text-align: right;
    padding-right: 50px;
}

.text-config h1 {
    font-size: 64px;
}

.slide-buy-btn {
    display: block;
    width:360px;
    font-size: 36px;
    color:#fff;
    background-color: #ff7bb8;
    border-radius: 5px;
    text-align: center;
    float: right;
    padding:10px;
    margin-top: 10px;
}

.slide-buy-btn:hover,
.slide-buy-btn:focus,
.slide-buy-btn:active {
    text-decoration: none;
    color: #fff;
}

.front-slider {
    position: relative;
}

.front-slider .owl-nav {
    position: absolute;
    top:56%;
    width:100%;
    font-size: 36px;
    color:#fff;
}

.front-slider .owl-prev {
    position: absolute;
    left: 15px;
    top:0;
}

.front-slider .owl-next {
    position: absolute;
    right: 15px;
    top:0;
}

.footer {
    border-top:10px solid #ff7bb8;
    background-color:#323335;
    color:#fff;
    padding: 50px 0;
}

.footer ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

.footer ul li:first-child {
    padding-bottom: 15px;
}

.footer ul li a{
    color:#fff;
    text-decoration: none;
}

.footer ul.social-icon li {
    display: inline-block;
    padding-top: 15px;
}

/* ----- Isotope ----- */
.grid-isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* 5 columns, percentage width */
.grid-item{
  width: 20%;
  float: left;
  position: relative;
  /*border: 0.5em solid rgba(255, 255, 255, 0);*/

}

.grid-item:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.grid-item.size2x2{
    width: 40%;
}

.grid-item.size1x1{

}

.grid-item.size1x2{

}
.grid-item.size2x1{
    width: 40%;
}
.grid-item.size2x1:before {
    padding-top: 35%;
}
.grid-item.size2x2:before {

}
.grid-item.size1x2:before {
    padding-top: 200%;
}

.grid-item.size1x2 .cover-grid-box {
    padding-top: 80%;
}

.caption-hover-effect.special-isotope {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.5em;
}
.caption-hover-effect.special-isotope .image {
    height: 100%;
    position: relative;
}
.img-bg{
    background-size: cover;
    background-position: center top;
    padding: 0.5em;
    overflow: hidden;
}

.front-section-1 {
    padding:50px 0;
    background-color: #f5f5f5;
}

.bk-header .header-logo {
    transition:0.3s;
}

.bk-header .header-logo.lessHeight {
    transition:0.3s;
    max-height: 0px;
}

.cover-grid-box {
    transition: 0.3s;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    background-color: rgba(0,0,0,0.6);
    color:#fff;
    text-align: center;
    opacity: 0;
    display: block;
    color:#fff;
    text-decoration: none;
    padding-top:38%;
}

.cover-grid-box:hover {
    transition: 0.5s;
    opacity: 1;
    text-decoration: none;
    color:#fff;
}

.cover-grid-box h3 {
    font-size: 38px;
}

.sale-tag {
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    background-color: red;
    color:#fff;
    text-align: center;
    width:200px;
    padding:15px;
    position: absolute;
    left: -50px;
    top:4%;
    font-size: 18px;
}

.grid-item.size1x1 .sale-tag {
    left: -55px;
}

.grid-item.size1x2 .sale-tag {
    left: -50px;
}

.banner-menu button:first-child {
    margin-left: 0.5em;
}

.banner-menu button {
    border:none;
    padding:15px 25px;
}

.banner-menu button.is-checked {
    color:#fff;
    background-color: #ff7bb8;
}

.row-item {
    background-color: #f5f5f5;
    padding-bottom: 50px;
}

.row-item h1 {
    font-size: 24px;
}

.item-banner-show {
    height: 350px;
    width:20%;
    display: block;
}

.item-banner-show {
    background-size: cover;
    background-position: left top;
}

.pink {
    color:#ff7bb8;
}

.left {
    float: left;
}

.right {
    float: right;
}

.item-show {
    width: 80%;
    height: 350px;
    background-color: #fff;
    padding:15px 30px;
}

.description {
    padding:10px;
}

.item-box .for-image {
    width:100%;
    height: 150px;
    background-size: cover;
    background-position: left top;
}

.item-box p {
    color:#666;
    margin:0;
    padding:0;
    font-size: 12px;
}

.item-box h4 {
    margin:0;
    padding:0;
}

.item-box h2 {
    margin:0;
    font-weight: 700;
    margin-top: 10px;
    font-size: 18px;
}

.show-slider .owl-nav {
    position: absolute;
    top:50%;
    width:100%;
    font-size: 16px;
    color:#333;
    z-index: 50;
}

.show-slider .owl-prev {
    position: absolute;
    left: -23px;
    top:0;
}

.show-slider .owl-next {
    position: absolute;
    right: -23px;
    top:0;
}

a.add-to-cart {
    display: block;
    background-color:#ff7bb8;
    color:#fff;
    text-decoration: none;
    text-align: center;
    padding:10px 15px;
    font-size: 16px;
}

.like-btn {
    transition: 0.3s;
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    color:#888;
    font-size: 18px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}


.like-btn:active {
    color:#888;
    background-color: #fff;
}

.like-btn:focus{
    transition: 0.3s;
    background-color: red;
    color:#fff;
}

.liked {
    transition: 0.5s;
    background-color: red;
    color:#fff;
}

.bk-navigation a:link,
.bk-navigation a:visited,
.bk-navigation-mobile a:link,
.bk-navigation-mobile a:visited,
.bk-header .header-burger:link,
.bk-header .header-burger:visited,
.bk-navigation .icon,
.bk-navigation-mobile .icon {
    color:#fff;
}

.bk-header .header-burger:hover {
    background-color: #ff7bb8;
}

.bk-header .header-burger {
    border-color:#fff;
}

.header-burger {
    float: right;
    margin-top: 5px;
}

.mobile-banner {
    display: none;
    width:100%;
    height: 140px;
    background-size: cover;
    background-position: center center;
}

.bk-navigation-mobile {
    background-color: #eee;
}

.btn-close-nav-mobile {
    background-color: #333;
}

.bk-navigation-mobile ul li a {
    color:#fff;
    background-color: #ff7bb8;
}

.bk-navigation-mobile .menu-item-has-children .icon {
    background-color: #ff7bb8;
    color: #fff;
    font-size: 18px;
}

.bk-navigation-mobile ul li.menu-item-has-children ul li a {
    background-color: #fff;
    color:#333;
}

.bk-navigation-mobile li:hover,
.bk-navigation-mobile .btn-close-nav-mobile:hover {
    background-color: #333;
}

.header-center-mobile {
    display: none;
}

.zeroOpacity {
    transition: 0.4s;
    opacity: 0;
}

.login-section {
    background-color: #eee;
    min-height: 600px;
    padding-top: 150px;
}

.inner-section {
    background-color: #fff;
    min-height: 100px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 50px;
    padding:15px 25px;
}

.login-block {
    max-width: 90%;
    width: 480px;
    margin:auto;
    padding:20px 0;
}

.img-block {
    margin-bottom: 40px;
}

.img-block img{
    max-width: 100%;
    width: 240px;
    display: block;
    margin:auto;
}

.login-form label {
    font-size: 12px;
    font-weight: 300;
}

.login-form input {
    border:none;
    display: block;
    width: 100%;
    padding:10px;
    border-radius: 5px;
    border:1px solid #ccc;
    background-color: #eee;
    margin-bottom: 10px;
}

.login-btn {
    border:none;
    width: 100%;
    padding:15px;
    background-color: #ff7bb8;
    color:#fff;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 22px;
}

.forget {
    display: block;
    text-align: right;
    color:#666;
    text-decoration: none;
    font-size: 12px;
}

.forget:hover {
    color:#ff7bb8;
}

.section-cover {
    height: 220px;
    width: 100%;
    text-align: center;
    color:#fff;
    padding-top: 90px;
}

.section-cover h1 {
    margin:0;
    padding:0;
}

.register-form {
    display: block;
}

.register-form label {
    text-align: right;
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
}

.register-form input,
.register-form textarea {
    border:none;
    width: 100%;
    border:1px solid #ccc;
    background-color: #eee;
    padding:5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.register-form textarea {
    height: 120px;
}

.register-form input[type="radio"] {
    display: inline-block;
    width: 20px;
}

.radio-cover {
    padding-top: 5px;
}

.hide-full-reciept {
    margin-top: 30px;
    float: left;
    display: none;
    width: 100%;
}

.register-form input.branch-input {
    width: 160px;
}

.regis-btn {
    border:none;
    clear: both;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    padding:15px;
    width: 340px;
    max-width: 100%;
    font-size: 18px;
    background-color: #ff7bb8;
    color:#fff;
    text-align: center;
    border-radius: 5px;
}

.contact-section a {
    color:#ff7bb8;
}

.map-box {
    width: 100%;
    height: 330px;
    margin-bottom: 20px;
}

.left-map {
    height: 330px;
    width: 50%;
    display: inline-block;
    float: left;
}

.map-description {
    width: 50%;
    height: 330px;
    display: inline-block;
    float: left;
    padding:25px;
    background-color: #454545;
    color:#fff;
}

.map-description h1 {
    margin-top: 0;
    font-size: 26px;
}

.map-description p {
    margin-top: 20px;
}

.contact-form label {
    display: block;
    font-weight: 500;
}

.contact-form input,
.contact-form textarea {
    width:100%;
    border:none;
    border-radius: 5px;
    background-color: #eee;
    color:#333;
    padding:10px;
    border:1px solid #ccc;
    margin-bottom: 10px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form .regis-btn {
    margin:auto;
    display: block;
    float: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.delete-love {
    position: absolute;
    right: 20px;
    top: 5px;
    width:50px;
    border-radius: 5px;
    padding:0 3px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: red;
    color:#fff;
    cursor: pointer;
    font-size: 12px;
}

.whislist-section .item-box {
    margin-bottom: 20px;
}

.whislist-section .item-box .description {
    border:1px solid #eee;
}

.edit-tab-menu {
    list-style-type: none;
    margin:0;
    padding:0;
}

.edit-tab-menu li {
    display: block;
}

.edit-tab-menu li a {
    padding:15px;
    display: block;
    border:1px solid #eee;
    border-radius: 5px;
    margin-bottom: 5px;
    color:#666;
    font-size: 16px;
}

.edit-tab-menu li.logout-tab a {
    border-color:red;
    color:red;
}

.edit-tab-menu li.logout-tab a:hover {
    background-color: red;
}

.edit-tab-menu li.active a {
    background-color: #ff7bb8;
    color:#fff;
}

.edit-tab-menu li a:hover {
    text-decoration: none;
    color:#fff;
    background-color: #ff7bb8;
}

.add-border-right {
    border-right: 1px solid #eee;
    min-height: 400px;
}

.history-table th {
    text-align: center;
    background-color: #ff7bb8;
    color:#fff;
    font-weight: 300;
    font-size: 16px;
}

.history-table {
    text-align: center;
}

.trans-btn {
    transition:0.3s;
    display: block;
    background-color: #666;
    color:#fff;
    width: 80px;
    margin:auto;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 1px rgba(119, 119, 119, 0.35);
    -moz-box-shadow: 0px 2px 4px 1px rgba(119, 119, 119, 0.35);
    -webkit-box-shadow: 0px 2px 4px 1px rgba(119, 119, 119, 0.35);
}

.trans-btn:hover {
    transition:0.3s;
    text-decoration: none;
    color:#fff;
    background-color: #77b224;
}

.view-btn {
    transition:0.3s;
    display: block;
    background-color: #666;
    color:#fff;
    width: 90px;
    margin:auto;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 1px rgba(119, 119, 119, 0.35);
    -moz-box-shadow: 0px 2px 4px 1px rgba(119, 119, 119, 0.35);
    -webkit-box-shadow: 0px 2px 4px 1px rgba(119, 119, 119, 0.35);
}

.view-btn:hover {
    transition:0.3s;
    text-decoration: none;
    color:#fff;
    background-color: #ff7bb8;
}

.cover-table {
    width: 100%;
}

.product-tab-menu-left {
    margin-bottom: 20px;
}

.product-tab-menu-left img {
    width: 100%;
}

.product-tab-menu-left hr,
.product-tab-menu-right hr {
    margin-top: 5px;
    margin-bottom: 10px;
}

.product-tab-menu-right p {
    margin-top: 20px;
    margin-bottom: 20px;
    padding:0;
}

.cate-product-box {
    width: 100%;
    height: 180px;
    display: block;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-bottom: 20px;
}

.cate-product-name {
    position: absolute;
    bottom:0;
    width: 100%;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    padding:5px;
    padding-left: 10px;
    color:#fff;
}

.banner {
    margin-bottom: 10px;
    display: block;
}

.banner img {
    width: 100%;
}

.product-tab-menu-left-2 {
    margin-top: 20px;
}

.product-tab-menu-left ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

.product-tab-menu-left ul li a {
    color:#ff7bb8;
}

.nav-product a {
    color:#ff7bb8;
}

.product-item {
    margin-bottom: 20px;
}

.product-item .like-btn {
    right: 20px;
}

.product-item .description {
    border:1px solid #eee;
}

.product-item .description p {
    margin: 0;
}

.product-tab-menu-left-3 {
    display: none;
}

.review-star {
    float: left;
}

.review-star i {
    color:#ccc;
    font-size: 18px;
}

.review-star i.good {
    color:#ffc000;
}

.gray {
    color:#666;
}

.inner-like-box {
    transition: 0.3s;
    display: block;
    float: right;
    text-align: right;
    color:#666;
}

.inner-like-box:hover {
    transition: 0.3s;
    text-decoration: none;
    color:red;
}

.big-product {
    width: 100%;
    height: 405px;
    background-size: cover;
    background-position: center center;
}

.small-product {
    height: 100px;
    width: 24%;
    float: left;
    margin-right: 6px;
    background-size: cover;
    background-position: center;
    margin-top: 5px;
    cursor: pointer;
}

.small-product:last-child {
    margin-right: 0;
}

.small-group {
    width: 100%;
    margin:auto;
}

.flex-control-thumbs li {
    height: 80px;
}

.flex-control-thumbs img {
    width: 98%;
}

.pro-info p {
    margin:0;
    padding:0;
    padding-bottom: 5px;
}

.pro-info.light p {
    font-weight: 300;
    color:#666;
}

.product-price h3{
    font-size: 34px;
    color:#98bb2e;
}

.product-cover {
    position: relative;
}

.product-drop {
    padding:10px;
    background-color:#eee;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
    border:1px solid #ddd;
}

.product-drop i {
    display: block;
    float: right;
}

.product-hide-item {
    float: left;
    margin-bottom: 5px;
}

.product-drop-hide {
    position: absolute;
    top:40px;
    background-color: #fff;
    width: 100%;
    z-index: 14;
    left: 0;
    padding:15px;
    border:1px solid #ddd;
    display: none;
}

.product-little-img {
    height: 80px;
    width: 80px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    float: left;
}

.product-text {
    width: 60%;
    display: inline-block;
    float: left;
    padding-left: 15px;
}

.product-text h3 {
    font-size: 20px;
    margin:0;
    padding:0;
}

.product-text p {
    margin:0;
    padding:0;
}

.product-add {
    display: inline-block;
    float: right;
    text-align: right;
    width: 20%;
}

input.qty {
    width: 50px;
    text-align: center;
}

input.qty::-webkit-outer-spin-button,
input.qty::-webkit-inner-spin-button  {
    -webkit-appearance: none;
    margin: 0;
}

.btn-number:focus,
.btn-number:active,
.btn-number:hover{
    outline: none;
    background-color: #98bb2e;
    color:#fff;
}

.btn-number {
    padding-left: 2px;
    padding-right: 2px;
    background-color: #98bb2e;
}

.input-group-btn>.btn:active, .input-group-btn>.btn:focus, .input-group-btn>.btn:hover {
    background-color: #98bb2e;
}

.white {
    color:#fff;
}

.little-buy {
    border:none;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    padding:5px 0;
    background-color: #98bb2e;
    color:#fff;
    border-radius: 5px;
}

.little-buy i {
    float: none;
    display: inline;
}

.main-number {
    width: 100px;
}

.bigger-buy {
    transition: 0.3s;
    border:none;
    padding:15px;
    text-align: center;
    font-size: 18px;
    width: 100%;
    margin-top: 15px;
    color:#fff;
    background-color: #666;
    border-radius: 5px;
    max-width: 60%;
}

.bigger-buy:hover {
    transition: 0.3s;
    background-color: #98bb2e;
}

.info-tab li {
    font-size: 20px;
}

.info-tab li a {
    color:#666;
}

.info-content {
    border:1px solid #ccc;
    padding:15px;
    border-top:none;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.points {
    font-size: 24px;
    margin:0;
}

.bigger {
    font-size: 36px;
}

.green {
    color:#98bb2e;
}

.review-star p {
    margin:0;
    padding:0;
}

.add-comment-btn {
    float: right;
    width: 240px;
    border-radius: 5px;
    padding:15px;
    background-color: #666;
    color:#fff;
    text-align: center;
    font-size: 24px;
    display: inline-block;
    margin-top: 50px;
    cursor: pointer;
}

.comment-first {
    padding-bottom: 10px;
}

.comment-first .review-star {
    width: 50%;
    float: left;
    display: inline-block;
}

.comment-box {
    padding:15px 0;
    border-bottom:1px solid #ccc;
}

.comment-box .review-star {
    float: none;
}

.comment-box .review-star p {
    font-size: 18px;
    display: inline-block;
}

.date-time-comment {
    text-align: right;
    font-size: 12px;
    color:#999;
    float: right;
}

.comment-box h4 {
    margin:0;
    padding: 0;
}

.comment-box p {
    color:#666;
}

.page-block {
    max-width: 100%;
    width: 360px;
    margin:auto;
}

.pagination>li>a,
.pagination>li>span,
.pagination>li>a:hover,
.pagination>li>span:hover {
    color:#ff7bb8;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color:#fff;
    background-color: #ff7bb8;
    border-color:#ccc;
}

.add-comment {
    padding-top: 20px;
    padding: 15px;
    background-color: #eee;
    float: left;
    width: 100%;
    display: none;
}

.add-comment .review-star i {
    cursor: pointer;
}

.add-comment .review-star i.active {
    color:#ffc000;
}

.send-comment {
    width: 240px;
    border:none;
    border-radius: 5px;
    padding:15px;
    background-color: #ff7bb8;
    color:#fff;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    float: right;
    margin-top: 20px;
}

.comment-u {
    width: 100%;
    border:none;
    height: 140px;
    background-color: #fff;
    border:1px solid #ccc;
    margin-top: 10px;
    outline: none;
    padding:15px;
}

.related-product {
    padding:10px 20px;
    border-radius: 5px;
    background-color: #fff;
    min-height: 100px;
    width: 100%;
    margin-bottom: 40px;
}

.step-cover {
    margin:auto;
}

.step-left {
    display: table-cell;
    vertical-align: middle;
}

.step-left i {
    font-size: 24px;
}

.step-right {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    text-align: left;
}

.step-right p {
    line-height: 16px;
    font-size: 14px;
    padding-top: 8px;
}

.step-box {
    background-color: #eee;
    border-radius: 5px;
    display: table;
    padding:0px 10px;
    color:#666;
}

.step-box:hover {
    color:#666;
    text-decoration: none;
}

.step-box.active {
    background-color: #98bb2e;
    color:#fff;
}

.step-inline {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}

.dott {
    margin-left: 0;
    margin-right: 0;
}

.cart-table th {
    text-align: center;
    font-weight: 500;
}

.cart-table th.text-left {
    text-align: left;
}

.cart-table td {
    text-align: center;
}

.cart-table td.text-left {
    text-align: left;
}

.del-item {
    display: block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 100%;
    background-color: red;
    color:#fff;
    margin-top: 10px;
}

.del-item:hover {
    text-decoration: none;
    color:#fff;
}

.cart-table .price {
    color:#98bb2e;
    font-size: 16px;
}

.ex-product img {
    display: inline-block;
    width: 60px;
    float: left;
}

.ex-product p {
    display: inline-block;
    padding:0;
    margin:0;
    float: left;
    padding-left: 8px;
}

.cart-plus-qty,
.cart-del-qty {
    display: inline-block;
    cursor: pointer;
    background-color: #eee;
    padding:0 5px;
    color:#333;
    text-decoration: none;
}

.cart-plus-qty:hover,
.cart-plus-qty:focus,
.cart-del-qty:hover,
.cart-del-qty:focus {
    text-decoration: none;
    color:#333;
}

.cart-qty {
    width: 40px;
    text-align: center;
}

input.cart-qty::-webkit-outer-spin-button,
input.cart-qty::-webkit-inner-spin-button  {
    -webkit-appearance: none;
    margin: 0;
}

.price input {
    border:none;
    background-color:#fff;
    text-align: center;
}

.cart-table {
    margin-bottom: 50px;
}

.payment-box {
    margin-bottom: 20px;
    float: left;
    width: 100%;
    box-shadow: 0px 3px 5px 1px rgba(119, 119, 119, 0.35);
    -moz-box-shadow: 0px 3px 5px 1px rgba(119, 119, 119, 0.35);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(119, 119, 119, 0.35);
}

.pay-click {
    padding:15px;
    padding-bottom: 10px;
    background-color: #eee;
    border-radius: 5px;
    float: left;
    width: 100%;
    cursor: pointer;
}

.pay-click img {
    display: inline-block;
    float: left;
    width: 100px;
}

.pay-click p {
    display: inline-block;
    font-size: 18px;
    padding:0;
    padding-left: 10px;
    float: left;
}

.pay-hide {
    width: 100%;
    background-color: #fff;
    float: left;
    padding:15px;
    border-radius: 5px;
    display: none;
}

.pay-table th {
    font-size: 20px;
    font-weight: 500;
}

.pay-table h4 {
    margin:0;
}

.pay-table img {
    width: 100%;
    margin-top: 3px;
}

.account-no {
    font-size: 24px;
}

.add-border-bottom {
    border-bottom: 1px solid #eee;
}

.table>tbody>tr>th,
.table>thead>tr>th {
    border-top:none;
    font-weight: 500;
}

.total-table {
    border:1px solid #eee;
}

.space-gray {
    background-color: #eee;
    font-size: 18px;
    color:#98bb2e;
}

.total-table>tbody>tr>td {
    border:none;
    padding-top:2px;
    padding-bottom: 2px;
}

.header-table {
    color:#fff;
    background-color: #333;
    padding:10px;
}

.mini-notice {
    font-size: 11px;
    color:#666;
}

.coupon-box {
    padding:15px;
    border-radius: 5px;
    background-color: #eee;
}

.coupon-box label {
    display: block;
}

.coupon-box input {
    width: 80%;
    border:none;
    padding:10px;
}

.coupon-box button {
    width: 18%;
    border:none;
    background-color: red;
    color:#fff;
    border-radius:5px;
    padding:10px;
}

.ok {
    color:#98bb2e;
    margin:0;
    padding-top: 10px;
}

.fail {
    color:red;
    margin:0;
    padding-top: 10px;
}

.next-step {
    display: block;
    width: 240px;
    padding:15px;
    background-color: #98bb2e;
    color:#fff;
    text-align: center;
    font-size: 20px;
    border:none;
    border-radius: 5px;
    margin-top: 20px;
    float: right;
    font-style:italic;
}

.bg-gray {
    background-color: #eee;
}

.price input {
    width: 100%;
}

.show-mobile {
    display: none;
}

img {
    max-width: 100%;
}

.ship-type-box {
    padding:10px;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
}

.ship-type-box.active {
    background-color: #98bb2e;
    color:#fff;
}

.green-bg {
    background-color: #98bb2e;
    color:#fff;
}

.summary-table th,
.summary-table td{
    text-align: center;
}

.summary-table td {
    border-bottom: 1px solid #eee;
}

.summary-table td.text-right {
    text-align: right;
    font-style: italic;
}

.final-price td {
    color:#fff;
    background-color: #98bb2e;
}

.mini-note strong{
    font-size: 20px;
}

.final-submit {
    border:none;
    border-radius: 5px;
    width: 240px;
    padding:15px;
    display: block;
    font-size: 18px;
    text-align: center;
    background-color: #98bb2e;
    color:#fff;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-cover {
    width: 100%;
    overflow: auto;
}

.up-box {
    width: 480px;
    max-width: 100%;
    margin:auto;
}

.up-box label {
    display: block;
    font-weight: 500;
    margin-top: 20px;
}

.up-box input,
.up-box select,
.up-box textarea {
    width: 100%;
    border:none;
    border:1px solid #ccc;
    background-color: #fff;
    padding:10px;
}

.up-box button {
    border:none;
    margin:auto;
    display: block;
    border-radius: 5px;
    padding:15px;
    text-align: center;
    color:#fff;
    background-color:#ff7bb8;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 20px;

}

.how-to {
    padding-top: 50px;
}

.how-to a {
    color:#ff7bb8;
}

.bank-box {
    padding-top:50px;
    padding-bottom: 40px;
    width: 100%;
    color:#fff;
}

.add-margin-bot {
    margin-bottom: 50px;
}

.bank-1 {
    background-color: #00b138;
}

.bank-2 {
    background-color: #141081;
}

.bank-3 {
    background-color: #502a82;
}

.bank-4 {
    background-color: #6e6060;
}

.bank-info {
    padding:0 15px;
}

.ccon {
    background-color: #fff;
    padding:15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.show-all-btn {
    display: block;
    width: 240px;
    margin:auto;
    padding:15px;
    text-align: center;
    color:#fff;
    background-color: #ff7bb8;
    border-radius: 5px;
}

.show-all-btn:hover {
    text-decoration: none;
    color:#fff;
}

.bk-header .header-left > .near-logo {
    color:#fff;
    text-decoration: none;
    border:1px solid #fff;
    padding:5px;
    border-radius: 5px;
    display: none;
    max-width: 100%;
    width: 160px;
    margin-top: -5px;
    float: left;
}

.bk-header .header-left > .near-logo.show-near-logo {
    display: block;
}

.near-logo:hover,
.near-logo:active,
.near-logo:focus {
    text-decoration: none;
    color:#fff;
}

/* pcpcpc */

@media screen and (max-width: 991px) {
    .grid-item.size1x1,
    .grid-item.size1x2 { width: 33.33%; }
    .grid-item.size2x1,
    .grid-item.size2x2 { width: 66.67%; }
    .text-config h1 {
        font-size: 40px;
    }
    .item-banner-show {
        display: none;
    }
    .item-show {
        width: 100%;
        height: auto;
    }
    .bk-header-left-center-right .header-left {
        padding-right:10px;
    }
    .mobile-banner {
        display: block;
        clear: both;
    }
    .header-bot-menu .main-menu li {
        display: none;
    }

    .header-bot-menu .main-menu li.still-show {
        display: inline-block;
    }
    .social-right {
        display: none;
    }
    .top-social-menu ul.social-left {
        margin-top: 10px;
    }

    .top-social-menu {
        padding-bottom: 3px;
    }

    .bk-header .header-outer {
        display: block;
    }

    .bk-header .bk-navigation {
        display: block;
        padding-top: 10px;
    }

    .bk-header-left-center-right .header-center {
        display: none;
    }

    .bk-header-left-center-right .header-center-mobile {
        display: block;
        clear: both;
        width: 100%;
        margin-top: 15px;
    }

    .front-slider .item {
        height: 390px;
    }

    .hide-menu {
        top:30px;
    }

    .header-bot-menu .main-menu li a {
        padding:5px;
    }

    .hide-menu-tab li a {
        padding:10px 5px;
        font-size: 12px;
    }
    .bk-header .header-burger {
        padding:3px 5px;
    }

    .right-icon img {
        width: 30px;
    }
    .top-social-menu ul.social-left li {
        padding:5px 0;
    }

    .bk-header-left-center-right .header-left {
        width: 15%;
    }

    .edit-form label {
        text-align: left;
    }

}
/* Mobile size */
@media screen and (max-width: 767px) {
    .grid-item.size1x1,
    .grid-item.size1x2 { width: 50%; }
    .grid-item.size2x2 ,
    .grid-item.size2x1 { width: 100%; }

    .bk-header .header-logo {
        max-height: 40px;
    }
    .front-slider .item {
        margin-top: 160px;
        height: 520px;
    }

    .text-config {
        padding:0;
    }

    .text-config h1,
    .text-config h2,
    .text-config h3 {
        margin:0;
    }

    .slide-buy-btn {
        margin-bottom: 15px;
    }

    .slider-2 {
        padding-top: 140px;
    }

    .hide-menu-tab li {
        margin:0;
    }
    .group-menu h4 {
        font-size: 14px;
    }
    .group-menu ul li a {
        padding:1px 0;
        font-size: 13px;
    }
    .search-box input {
        padding:5px 8px;
    }
    .top-social-menu ul.social-left {
        margin-top: 3px;
    }
    .register-form label {
        text-align: left;
    }

    .left-map {
        width: 100%;
    }

    .map-description {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .add-border-right {
        min-height: auto;
        margin-bottom: 50px;
    }

    .product-tab-menu-left-2 {
        display: none;
    }

    .product-tab-menu-left-3 {
        display: block;
        margin-top: 20px;
    }

    .product-tab-menu-right {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 480px) {

    .br-mobile {
        display: block;
    }

    .map-description h1 {
        font-size: 20px;
    }

    .cover-table {
        width: 100%;
        overflow: auto;
    }

    .cover-table .history-table {
        width: 600px;
    }

    .big-product {
        height: 200px;
    }

    .flexslider {
        margin-bottom: 20px;
    }

    .product-price h3 {
        font-size: 26px;
    }

    .product-add {
        width: 100%;
        margin-top: 10px;
    }

    .add-prod .input-group {
        width: 30%;
        float: right;
    }

    .little-buy {
        padding:10px 0;
    }

    .bigger-buy {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .info-tab li {
        font-size: 14px;
    }

    .comment-first .review-star {
        width: 100%;
    }

    .add-comment-btn,
    .send-comment {
        margin-top: 20px;
        width: 100%;
        font-size: 16px;
    }

    .date-time-comment {
        display: block;
        float: none;
        text-align: left;
    }

    .pagination>li>a, .pagination>li>span, .pagination>li>a:hover, .pagination>li>span:hover {
        padding: 8px;
    }

    .review-star {
        font-size: 12px;
    }

    .ex-product img {
        display: none;
    }

    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        padding:3px;
    }

    .cart-del-qty,
    .cart-plus-qty {
        display: none;
    }

    .step-left i{
        font-size: 16px;
        display: none;
    }

    .step-right {
        padding-left: 2px;
    }

    .step-right p {
        font-size: 12px;
        margin:0;
        padding-top: 0;
    }

    .step-box {
        padding:0 2px;
    }

    .dott {
        display: none;
    }

    .pay-table>tbody>tr>th,
    .pay-table>thead>tr>th {
        font-size: 12px;
    }

    .show-mobile {
        display: block;
    }

    .show-desktop {
        display: none;
    }

    .ship-type-box {
        font-size: 14px;
    }

    .inner-section h3 {
        font-size: 20px;
    }

    .summary-table {
        width: 480px;
    }

    .mini-note {
        font-size: 12px;
    }

    .pay-click img ,
    .pay-click p{
        float: none;
        margin:auto;
        display: block;
        padding:0;
        text-align: center;
    }

    .coupon-box input {
        width: 70%;
    }

    .coupon-box button {
        width:25%;
    }

}


@media screen and (max-width: 320px) {
    .info-tab li a {
        padding-left: 5px;
        padding-top: 5px;
    }

    .flex-control-thumbs li {
        height: 40px;
    }

    .flex-control-thumbs li img {
        height: 100%;
    }
    .pro-info p {
        font-size: 12px;
    }
    .product-price h3 {
        font-size: 22px;
    }
    .add-prod .input-group {
        width: 40%;
    }

    .step-right p {
        font-size: 10px;
    }

    .ship-type-box img {
        display: none;
    }
}












